@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Campos Deportivos IMEI - ERROR</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
	<link rel="stylesheet" href="~/css/style-error.css">

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>403</h1>
				<h2>Sin autorizar</h2>
			</div>
			<a onclick="window.history.back();">Volver a la página anterior</a>
		</div>
	</div>

</body>

</html>


