@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campos Deportivos IMEI - Privacidad</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/estilo-privacidad.css" />
</head>

<body style="background-color: #4e73df;">
    <div class="container">
        <div class="card border-primary div_card"
             style="background-color: black; color: white; padding: 40px; margin: 20px; width: 95%; height: 900px; overflow-y: scroll;">
            <p>
                <h1 class="text-center"><i class="fa fa-shield" style="color: #4e73df;"></i> POLÍTICA DE PRIVACIDAD</h1>
            </p>
            <p>
                Última actualización: 11 de octubre de 2023
            </p>
            <p>
                Esta Política de Privacidad describe Nuestras políticas y procedimientos sobre la recopilación, uso y
                divulgación de Su información cuando utiliza el Servicio y le informa sobre Sus derechos de privacidad y
                cómo la ley lo protege.
            </p>
            <p>
                Utilizamos sus datos personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, usted
                acepta la recopilación y el uso de información de acuerdo con esta Política de Privacidad. Esta Política
                de Privacidad se ha creado con la ayuda del Generador gratuito de políticas de privacidad .
            </p>
            <h2>Interpretación y definiciones</h2>
            <h3>Interpretación</h3>
            <p>
                Las palabras cuya letra inicial está en mayúscula tienen significados definidos bajo las siguientes
                condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de que
                aparezcan en singular o en plural.
            </p>
            <h3>Definiciones</h3>
            <p>
                Para los efectos de esta Política de Privacidad:
            </p>
            <ul>
                <li>
                    <b>Cuenta</b> significa una cuenta única creada para que Usted acceda a nuestro Servicio o partes de
                    nuestro Servicio.
                </li>
                <li>
                    <b>Afiliada</b> significa una entidad que controla, está controlada por o está bajo control común
                    con una parte, donde "control" significa propiedad del 50% o más de las acciones, participación
                    accionaria u otros valores con derecho a votar para la elección de directores u otra autoridad
                    administrativa.
                </li>
                <li>
                    <b>Compañía</b> (denominada "la Compañía", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se refiere
                    a IMEI SAC, Av. Deportes 111.
                </li>
                <li>
                    <b>Las cookies</b> son pequeños archivos que un sitio web coloca en su computadora, dispositivo
                    móvil o cualquier otro dispositivo y que contienen los detalles de su historial de navegación en ese
                    sitio web, entre sus muchos usos.
                </li>
                <li><b>País</b> se refiere a: Perú</li>
                <li>
                    <b>Dispositivo</b> significa cualquier dispositivo que pueda acceder al Servicio, como una
                    computadora, un teléfono celular o una tableta digital.
                </li>
                <li>
                    <b>Datos personales</b> es cualquier información que se relacione con un individuo identificado o
                    identificable.
                </li>
                <li><b>El servicio</b> se refiere al sitio web.</li>
                <li>
                    <b>Proveedor de servicios</b> significa cualquier persona física o jurídica que procese los datos en
                    nombre de la Compañía. Se refiere a empresas de terceros o personas empleadas por la Compañía para
                    facilitar el Servicio, proporcionar el Servicio en nombre de la Compañía, realizar servicios
                    relacionados con el Servicio o ayudar a la Compañía a analizar cómo se utiliza el Servicio.
                </li>
                <li>
                    <b>Los Datos de uso</b> se refieren a los datos recopilados automáticamente, ya sea generados por el
                    uso del Servicio o por la propia infraestructura del Servicio (por ejemplo, la duración de una
                    visita a una página).
                </li>
                <li><b>El sitio web</b> se refiere a IMEI SPORTS, accesible desde https://IMEI_SPORTS.com</li>
                <li>
                    <b>Usted</b> se refiere a la persona que accede o utiliza el Servicio, o la empresa u otra entidad
                    legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.
                </li>
            </ul>
            <h2>Recopilación y uso de sus datos personales</h2>
            <h3>Tipos de datos recopilados</h3>
            <h4>Información personal</h4>
            <p>
                Al utilizar nuestro servicio, podemos pedirle que nos proporcione cierta información de identificación
                personal que pueda usarse para contactarlo o identificarlo. La información de identificación personal
                puede incluir, entre otras:
            </p>
            <ul>
                <li>Dirección de correo electrónico</li>
                <li>Nombre y apellido</li>
                <li>Número de teléfono</li>
                <li>Datos de uso</li>
            </ul>
            <h4>Datos de uso</h4>
            <p>
                Los datos de uso se recopilan automáticamente cuando se utiliza el Servicio.
            </p>
            <p>
                Los datos de uso pueden incluir información como la dirección de protocolo de Internet de su dispositivo
                (por ejemplo, dirección IP), tipo de navegador, versión del navegador, las páginas de nuestro Servicio
                que visita, la hora y fecha de su visita, el tiempo dedicado a esas páginas, dispositivo único
                identificadores y otros datos de diagnóstico.
            </p>
            <p>
                Cuando accede al Servicio mediante un dispositivo móvil, podemos recopilar cierta información
                automáticamente, que incluye, entre otros, el tipo de dispositivo móvil que utiliza, la identificación
                única de su dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo, el tipo de
                navegador de Internet móvil que utiliza, identificadores únicos de dispositivo y otros datos de
                diagnóstico.
            </p>
            <p>
                Tambiénpodemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o
                cuando accede al Servicio mediante un dispositivo móvil.
            </p>
            <h4>Tecnologías de seguimiento y cookies</h4>
            <p>
                Utilizamos cookies y tecnologías de seguimiento similares para rastrear la actividad en Nuestro Servicio
                y almacenar cierta información. Las tecnologías de seguimiento utilizadas son balizas, etiquetas y
                scripts para recopilar y rastrear información y mejorar y analizar Nuestro Servicio. Las tecnologías que
                utilizamos pueden incluir:
            </p>
            <ul>
                <li>
                    <b>Cookies o Cookies del Navegador.</b> Una cookie es un pequeño archivo colocado en su dispositivo.
                    Puede indicarle a su navegador que rechace todas las cookies o que indique cuándo se envía una
                    cookie. Sin embargo, si no acepta las cookies, es posible que no pueda utilizar algunas partes de
                    nuestro Servicio. A menos que haya ajustado la configuración de su navegador para que rechace
                    cookies, nuestro Servicio puede utilizar cookies.
                </li>
                <li>
                    <b>Balizas web.</b> Ciertas secciones de nuestro Servicio y nuestros correos electrónicos pueden
                    contener pequeños archivos electrónicos conocidos como balizas web (también conocidos como gifs
                    transparentes, etiquetas de píxel y gifs de un solo píxel) que permiten a la Compañía, por ejemplo,
                    contar los usuarios que han visitado esas páginas. o abrió un correo electrónico y para otras
                    estadísticas relacionadas con el sitio web (por ejemplo, registrar la popularidad de una determinada
                    sección y verificar la integridad del sistema y del servidor).
                </li>
            </ul>
            <p>
                Las cookies pueden ser Cookies "Persistentes" o de "Sesión". Las cookies persistentes permanecen en su
                computadora personal o dispositivo móvil cuando se desconecta, mientras que las cookies de sesión se
                eliminan tan pronto como cierra su navegador web. Obtenga más información sobre las cookies en el
                artículo del sitio web Política de privacidad gratuita .
            </p>
            <p>Utilizamos cookies de sesión y persistentes para los fines que se detallan a continuación:</p>
            <ul>
                <li><b>Cookies necesarias/esenciales</b></li>
            </ul>
            <p>
                Tipo: Cookies de sesión
            </p>
            <p>
                Administrado por: Nosotros
            </p>
            <p>
                Propósito: Estas cookies son esenciales para brindarle los servicios disponibles a través del sitio
                web y permitirle utilizar algunas de sus funciones. Ayudan a autenticar a los usuarios y evitar el
                uso fraudulento de cuentas de usuario. Sin estas Cookies, no se pueden proporcionar los servicios
                que ha solicitado y solo utilizamos estas Cookies para brindarle esos servicios.
            </p>
            <ul>
                <li>
                    <b>
                        Política de Cookies / Aviso de Aceptación de Cookies
                    </b>
                </li>
            </ul>
            <p>
                Tipo: Cookies persistentes
            </p>
            <p>
                Administrado por: Nosotros
            </p>
            <p>
                Finalidad: Estas Cookies identifican si los usuarios han aceptado el uso de cookies en el Sitio Web.
            </p>
            <ul>
                <li>
                    <b>
                        Cookies de funcionalidad
                    </b>
                </li>
            </ul>
            <p>
                Tipo: Cookies persistentes
            </p>
            <p>
                Administrado por: Nosotros
            </p>
            <p>
                Propósito: Estas cookies nos permiten recordar las elecciones que realiza cuando utiliza el sitio
                web, como recordar sus datos de inicio de sesión o su preferencia de idioma. El propósito de estas
                Cookies es brindarle una experiencia más personal y evitar que tenga que volver a ingresar sus
                preferencias cada vez que utilice el sitio web.
            </p>
            <p>
                Para obtener más información sobre las cookies que utilizamos y sus opciones con respecto a las
                cookies, visite nuestra Política de Cookies o la sección de Cookies de nuestra Política de
                Privacidad.
            </p>
            <h3>Uso de sus datos personales</h3>
            <p>
                La Compañía podrá utilizar Datos Personales para los siguientes fines:
            </p>
            <p>
                <b>Para proporcionar y mantener nuestro servicio</b> , incluido monitorear el uso de nuestro
                servicio.
            </p>
            <p>
                <b>Para administrar Su Cuenta:</b> para administrar Su registro como usuario del Servicio. Los Datos
                Personales que usted proporciona pueden darle acceso a diferentes funcionalidades del Servicio que
                están disponibles para Usted como usuario registrado.
            </p>
            <p>
                <b>
                    Para la ejecución de un contrato:
                </b> el desarrollo, cumplimiento y ejecución del contrato de compra de los productos, artículos o
                servicios que Usted haya adquirido o de cualquier otro contrato con Nosotros a través del Servicio.
            </p>
            <p>
                <b>
                    Para contactarlo:
                </b> Para contactarlo por correo electrónico, llamadas telefónicas, SMS u otras formas de
                comunicación electrónica equivalentes, como notificaciones push de una aplicación móvil sobre
                actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos o
                servicios contratados, incluidas las actualizaciones de seguridad. cuando sea necesario o razonable
                para su implementación.
            </p>
            <p>
                <b>
                    Para brindarle noticias
                </b>, ofertas especiales e información general sobre otros bienes, servicios y eventos que ofrecemos
                que son similares a los que ya compró o sobre los que ya realizó consultas, a menos que haya optado
                por no recibir dicha información.
            </p>
            <p>
                <b>
                    Para gestionar Sus solicitudes:
                </b> Para atender y gestionar Sus solicitudes hacia Nosotros.
            </p>
            <p>
                <b>
                    Para transferencias comerciales:
                </b> podemos utilizar su información para evaluar o llevar a cabo una fusión, desinversión,
                reestructuración, reorganización, disolución u otra venta o transferencia de algunos o todos
                nuestros activos, ya sea como empresa en funcionamiento o como parte de una quiebra, liquidación, o
                procedimiento similar, en el que los datos personales que tenemos sobre los usuarios de nuestro
                servicio se encuentran entre los activos transferidos.
            </p>
            <p>
                <b>
                    Para otros fines:
                </b> podemos utilizar su información para otros fines, como análisis de datos, identificación de
                tendencias de uso, determinación de la efectividad de nuestras campañas promocionales y para evaluar
                y mejorar nuestro Servicio, productos, servicios, marketing y su experiencia.
            </p>
            <p>
                Podemos compartir su información personal en las siguientes situaciones:
            </p>
            <p>
                <b>
                    Con proveedores de servicios:
                </b> podemos compartir su información personal con proveedores de servicios para monitorear y
                analizar el uso de nuestro servicio y comunicarnos con usted.
            </p>
            <p>
                <b>Para transferencias comerciales:</b> podemos compartir o transferir su información personal en
                relación con, o durante las negociaciones de, cualquier fusión, venta de activos de la Compañía,
                financiamiento o adquisición de todo o una parte de Nuestro negocio a otra compañía.
            </p>
            <p>
                <b>Con afiliados:</b> podemos compartir su información con nuestros afiliados, en cuyo caso les
                exigiremos que respeten esta Política de privacidad. Las afiliadas incluyen Nuestra empresa matriz y
                cualquier otra subsidiaria, socios de empresas conjuntas u otras empresas que controlamos o que
                están bajo control común con Nosotros.
            </p>
            <p>
                <b>Con socios comerciales:</b> podemos compartir su información con nuestros socios comerciales para
                ofrecerle ciertos productos, servicios o promociones.
            </p>
            <p>
                <b>Con otros usuarios:</b> cuando comparte información personal o interactúa de otro modo en las
                áreas públicas con otros usuarios, dicha información puede ser vista por todos los usuarios y puede
                distribuirse públicamente en el exterior.
            </p>
            <p>
                <b>Con su consentimiento:</b> podemos revelar su información personal para cualquier otro propósito
                con su consentimiento.
            </p>
            <h3>Conservación de sus datos personales</h3>
            <p>
                La Compañía conservará sus datos personales solo durante el tiempo que sea necesario para los fines
                establecidos en esta Política de privacidad. Conservaremos y utilizaremos sus datos personales en la
                medida necesaria para cumplir con nuestras obligaciones legales (por ejemplo, si debemos conservar
                sus datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestros
                acuerdos y políticas legales.
            </p>
            <p>
                La Compañía también conservará los Datos de uso para fines de análisis interno. Los datos de uso
                generalmente se conservan durante un período de tiempo más corto, excepto cuando estos datos se
                utilizan para fortalecer la seguridad o mejorar la funcionalidad de Nuestro Servicio, o cuando
                estamos legalmente obligados a conservar estos datos durante períodos de tiempo más largos.
            </p>
            <h3>Transferencia de sus datos personales</h3>
            <p>
                Su información, incluidos los Datos Personales, es procesada en las oficinas operativas de la
                Compañía y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento.
                Significa que esta información puede transferirse y mantenerse en computadoras ubicadas fuera de Su
                estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos
                pueden diferir de las de Su jurisdicción.
            </p>
            <p>
                Su consentimiento a esta Política de Privacidad seguido de su envío de dicha información representa
                su aceptación de esa transferencia.
            </p>
            <p>
                La Compañía tomará todas las medidas razonablemente necesarias para garantizar que Sus datos sean
                tratados de forma segura y de acuerdo con esta Política de Privacidad y no se realizará ninguna
                transferencia de Sus Datos Personales a una organización o país a menos que existan controles
                adecuados establecidos, incluida la seguridad de Sus datos y otra información personal.
            </p>
            <h3>Elimina tus datos personales</h3>
            <p>
                Tiene derecho a eliminar o solicitar que le ayudemos a eliminar los datos personales que hemos
                recopilado sobre usted.
            </p>
            <p>
                Nuestro Servicio puede brindarle la posibilidad de eliminar cierta información sobre Usted desde el
                Servicio.
            </p>
            <p>
                Puede actualizar, modificar o eliminar Su información en cualquier momento iniciando sesión en Su
                Cuenta, si tiene una, y visitando la sección de configuración de la cuenta que le permite
                administrar Su información personal. También puede comunicarse con nosotros para solicitar acceso,
                corregir o eliminar cualquier información personal que nos haya proporcionado.
            </p>
            <p>
                Sin embargo, tenga en cuenta que es posible que necesitemos conservar cierta información cuando
                tengamos una obligación legal o una base legal para hacerlo.
            </p>
            <h3>Divulgación de sus datos personales</h3>
            <h4>Transacciones de negocios</h4>
            <p>
                Si la Compañía está involucrada en una fusión, adquisición o venta de activos, sus datos personales
                pueden ser transferidos. Le avisaremos antes de que sus datos personales se transfieran y queden
                sujetos a una política de privacidad diferente.
            </p>
            <h4>Cumplimiento de la ley</h4>
            <p>
                En determinadas circunstancias, es posible que se le solicite a la Compañía que revele sus datos
                personales si así lo exige la ley o en respuesta a solicitudes válidas de autoridades públicas (por
                ejemplo, un tribunal o una agencia gubernamental).
            </p>
            <h4>Otros requisitos legales</h4>
            <p>
                La Compañía puede divulgar sus datos personales de buena fe cuando considere que dicha acción es
                necesaria para:
            <p>
                <ul>
                    <li>Cumplir con una obligación legal</li>
                    <li>Proteger y defender los derechos o bienes de la Empresa</li>
                    <li>Prevenir o investigar posibles irregularidades en relación con el Servicio</li>
                    <li>Proteger la seguridad personal de los Usuarios del Servicio o del público.</li>
                    <li>Proteger contra responsabilidad legal</li>
                </ul>
                <h4>Seguridad de sus datos personales</h4>
            <p>
                La seguridad de sus datos personales es importante para nosotros, pero recuerde que ningún método de
                transmisión a través de Internet o método de almacenamiento electrónico es 100 % seguro. Si bien nos
                esforzamos por utilizar medios comercialmente aceptables para proteger sus datos personales, no
                podemos garantizar su seguridad absoluta.
            </p>
            <h3>Privacidad de los niños</h3>
            <p>
                Nuestro Servicio no está dirigido a personas menores de 13 años. No recopilamos conscientemente
                información de identificación personal de ninguna persona menor de 13 años. Si usted es padre o
                tutor y sabe que su hijo nos ha proporcionado datos personales, por favor Contáctenos. Si tomamos
                conocimiento de que hemos recopilado datos personales de cualquier persona menor de 13 años sin
                verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de
                nuestros servidores.
            </p>
            <p>
                Si necesitamos confiar en el consentimiento como base legal para procesar Su información y Su país
                requiere el consentimiento de uno de sus padres, podemos requerir el consentimiento de Sus padres
                antes de recopilar y utilizar esa información.
            </p>
            <h3>Enlaces a otros sitios web</h3>
            <p>
                Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por Nosotros. Si hace
                clic en un enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos
                encarecidamente que revise la Política de privacidad de cada sitio que visite.
            </p>
            <p>
                No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad
                o las prácticas de sitios o servicios de terceros.
            </p>
            <h3>Cambios a esta Política de Privacidad</h3>
            <p>
                Podemos actualizar Nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier
                cambio publicando la nueva Política de Privacidad en esta página.
            </p>
            <p>
                Le informaremos por correo electrónico y/o un aviso destacado en Nuestro Servicio, antes de que el
                cambio entre en vigencia y actualizaremos la fecha de "Última actualización" en la parte superior de
                esta Política de Privacidad.
            </p>
            <p>
                Se le recomienda revisar esta Política de Privacidad periódicamente para detectar cualquier cambio.
                Los cambios a esta Política de Privacidad entran en vigencia cuando se publican en esta página.
            </p>
            <h3>Contáctenos</h3>
            <p>
                Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos:
            <p>
                <ul>
                    <li>Por correo electrónico: garowo4185@mugadget.com</li>
                    <li>
                        Visitando esta p+agina en nuestro sitio web: [https://Campos Deportivos IMEI -
                        Privacidad](https://Campos Deportivos IMEI - Privacidad)
                    </li>
                    <li>
                        Por número de teléfono: 969794477
                    </li>
                </ul>
        </div>
    </div>
</body>
</html>