@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campos Deportivos IMEI - Términos y Condiciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/estilo-privacidad.css" />
</head>
<body style="background-color: #4e73df;">
    <div class="container">
        <div class="card border-primary div_card"
             style="background-color: black; color: white; padding: 40px; margin: 20px; width: 95%; height: 900px; overflow-y: scroll;">
            <p>
                <h1 class="text-center">
                    <i class="fa fa-file-contract"
                       style="color: #4e73df;"></i> TÉRMINOS Y CONDICIONES
                </h1>
            </p><p>
                <h2>Términos y condiciones</h2>
            <p>
                Última actualización: 11 de octubre de 2023
            </p><p>
                Lea atentamente estos términos y condiciones antes de utilizar nuestro servicio.
            </p><h2>
                Interpretación y definiciones
            </h2><h3>
                Interpretación
            </h3><p>
                Las palabras cuya letra inicial está en mayúscula tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de que aparezcan en singular o en plural.
            </p><h3>
                Definiciones
            </h3><p>
                Para los efectos de estos Términos y condiciones:
            </p><ul>
                <li>
                    <b>
                        Afiliada
                    </b> significa una entidad que controla, está controlada por o está bajo control común con una parte, donde " control" significa
                    propiedad del 50% o más de las acciones, participación accionaria u otros valores con derecho a votar
                    para la elección de directores u otra autoridad administrativa. .
                </li>
                <li>
                    <b>
                        País
                    </b> se refiere a: Perú
                </li>
                <li>
                    <b>
                        Compañía
                    </b> (denominada "la Compañía", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se
                    refiere a IMEI SAC, Av. Deportes 111.
                </li>
                <li>
                    <b>
                        Dispositivo
                    </b> significa cualquier dispositivo que pueda acceder al Servicio, como una
                    computadora, un teléfono celular o una tableta digital.
                </li>
                <li>
                    <b>
                        El servicio
                    </b> se refiere al sitio web.
                </li>
                <li>
                    <b>
                        Términos y condiciones
                    </b> (también denominados "Términos") significan estos Términos y
                    condiciones que forman el acuerdo completo entre usted y la Compañía con respecto al uso del
                    Servicio. Este acuerdo de Términos y condiciones se ha creado con la ayuda del Generador gratuito de
                    términos y condiciones .
                </li>
                <li>
                    <b>
                        Servicio de redes sociales de terceros
                    </b> significa cualquier servicio o contenido (incluidos
                    datos, información, productos o servicios) proporcionado por un tercero que puede mostrarse,
                    incluirse o ponerse a disposición mediante el Servicio.
                </li>
                <li>
                    <b>
                        El sitio web
                    </b> se refiere a IMEI SPORTS, accesible desde https://IMEI_SPORTS.com
                </li>
                <li>
                    <b>
                        Usted
                    </b> se refiere a la persona que accede o utiliza el Servicio, o la empresa u otra entidad
                    legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.
                </li>
            </ul>
            <h2>Reconocimiento</h2>
            <p>
                Estos son los Términos y condiciones que rigen el uso de este Servicio y el acuerdo que opera entre
                Usted y la Compañía. Estos Términos y Condiciones establecen los derechos y obligaciones de todos
                los usuarios con respecto al uso del Servicio.
            </p>
            <p>
                Su acceso y uso del Servicio está condicionado a su aceptación y cumplimiento de estos Términos y
                condiciones. Estos Términos y condiciones se aplican a todos los visitantes, usuarios y otras
                personas que acceden o utilizan el Servicio.
            </p>
            <p>
                Al acceder o utilizar el Servicio, usted acepta estar sujeto a estos Términos y condiciones. Si no
                está de acuerdo con alguna parte de estos Términos y condiciones, no podrá acceder al Servicio.
            </p>
            <p>
                Usted declara que es mayor de 18 años. La Compañía no permite que menores de 18 años utilicen el
                Servicio.
            </p>
            <p>
                Su acceso y uso del Servicio también está condicionado a su aceptación y cumplimiento de la Política
                de Privacidad de la Compañía. Nuestra Política de privacidad describe Nuestras políticas y
                procedimientos sobre la recopilación, el uso y la divulgación de Su información personal cuando
                utiliza la Aplicación o el Sitio web y le informa sobre Sus derechos de privacidad y cómo la ley lo
                protege. Lea atentamente nuestra Política de privacidad antes de utilizar nuestro servicio.
            </p>
            <h2>Enlaces a otros sitios web</h2>
            <p>
                Nuestro Servicio puede contener enlaces a sitios web o servicios de terceros que no son propiedad de
                la Compañía ni están controlados por ella.
            </p>
            <p>
                La Compañía no tiene control ni asume ninguna responsabilidad por el contenido, las políticas de
                privacidad o las prácticas de los sitios web o servicios de terceros. Además, reconoce y acepta que
                la Compañía no será responsable, directa o indirectamente, de ningún daño o pérdida causada o
                presuntamente causada por o en conexión con el uso o la confianza en dicho contenido, bienes o
                servicios disponibles en o a través de dichos sitios web o servicios.
            </p>
            <p>
                Le recomendamos encarecidamente que lea los términos y condiciones y las políticas de privacidad de
                los sitios web o servicios de terceros que visite.
            </p>
            <h2>Terminación</h2>
            <p>
                Podemos cancelar o suspender Su acceso inmediatamente, sin previo aviso ni responsabilidad, por
                cualquier motivo, incluido, entre otros, si incumple estos Términos y condiciones.
            </p>
            <p>
                Tras la rescisión, su derecho a utilizar el Servicio cesará inmediatamente.
            </p>
            <h2>
                Limitación de responsabilidad
            </h2>
            <p>
                Independientemente de los daños en los que pueda incurrir, la responsabilidad total de la Compañía y
                cualquiera de sus proveedores según cualquier disposición de estos Términos y su recurso exclusivo
                por todo lo anterior se limitará al monto realmente pagado por usted a través del Servicio o 100
                USD. si no ha comprado nada a través del Servicio.
            </p>
            <p>
                En la máxima medida permitida por la ley aplicable, en ningún caso la Compañía o sus proveedores
                serán responsables de ningún daño especial, incidental, indirecto o consecuente de ningún tipo
                (incluidos, entre otros, daños por pérdida de ganancias, pérdida de datos o otra información, por
                interrupción del negocio, por lesiones personales, pérdida de privacidad que surja de o esté
                relacionada de alguna manera con el uso o la imposibilidad de usar el Servicio, el software de
                terceros y/o el hardware de terceros utilizado con el Servicio, o de otro modo en relación con
                cualquier disposición de estos Términos), incluso si la Compañía o cualquier proveedor han sido
                advertidos de la posibilidad de tales daños e incluso si el remedio no cumple con su propósito
                esencial.
            </p>
            <p>
                Algunos estados no permiten la exclusión de garantías implícitas o la limitación de responsabilidad
                por daños incidentales o consecuentes, lo que significa que algunas de las limitaciones anteriores
                pueden no aplicarse. En estos estados, la responsabilidad de cada parte se limitará en la mayor
                medida permitida por la ley.
            </p>
            <h2>
                Descargo de responsabilidad "TAL CUAL" y "SEGÚN DISPONIBILIDAD"
            </h2>
            <p>
                El Servicio se le proporciona "TAL CUAL" y "SEGÚN DISPONIBILIDAD" y con todas las fallas y defectos
                sin garantía de ningún tipo. En la medida máxima permitida por la ley aplicable, la Compañía, en su
                propio nombre y en nombre de sus Afiliados y sus respectivos licenciantes y proveedores de
                servicios, renuncia expresamente a todas las garantías, ya sean expresas, implícitas, legales o de
                otro tipo, con respecto a la Servicio, incluidas todas las garantías implícitas de comerciabilidad,
                idoneidad para un propósito particular, título y no infracción, y garantías que puedan surgir del
                curso del trato, curso del desempeño, uso o práctica comercial. Sin limitación a lo anterior, la
                Compañía no ofrece ninguna garantía ni compromiso, y no hace ninguna declaración de ningún tipo de
                que el Servicio cumplirá con Sus requisitos, logrará los resultados previstos,
            </p>
            <p>
                Sin limitar lo anterior, ni la Compañía ni ninguno de los proveedores de la compañía hacen ninguna
                representación o garantía de ningún tipo, expresa o implícita: (i) en cuanto al funcionamiento o
                disponibilidad del Servicio, o la información, el contenido y los materiales o productos. incluido
                en el mismo; (ii) que el Servicio será ininterrumpido o estará libre de errores; (iii) en cuanto a
                la exactitud, confiabilidad o actualidad de cualquier información o contenido proporcionado a través
                del Servicio; o (iv) que el Servicio, sus servidores, el contenido o los correos electrónicos
                enviados desde o en nombre de la Compañía están libres de virus, scripts, troyanos, gusanos,
                malware, bombas de tiempo u otros componentes dañinos.
            </p>
            <p>
                Algunas jurisdicciones no permiten la exclusión de ciertos tipos de garantías o limitaciones de los
                derechos legales aplicables de un consumidor, por lo que es posible que algunas o todas las
                exclusiones y limitaciones anteriores no se apliquen a usted. Pero en tal caso, las exclusiones y
                limitaciones establecidas en esta sección se aplicarán en la mayor medida exigible según la ley
                aplicable.
            </p>
            <h2>
                Ley que rige
            </h2>
            <p>
                Las leyes del País, excluyendo sus conflictos de normas legales, regirán estos Términos y Su uso del
                Servicio. Su uso de la Aplicación también puede estar sujeto a otras leyes locales, estatales,
                nacionales o internacionales.
            </p>
            <h2>
                Resolución de disputas
            </h2>
            <p>
                Si tiene alguna inquietud o disputa sobre el Servicio, acepta intentar primero resolver la disputa
                de manera informal comunicándose con la Compañía.
            </p>
            <h2>
                Divisibilidad y renuncia
            </h2>
            <h3>Divisibilidad</h3>
            <p>
                Si alguna disposición de estos Términos se considera inaplicable o inválida, dicha disposición se
                modificará e interpretará para lograr los objetivos de dicha disposición en la mayor medida posible
                según la ley aplicable y las disposiciones restantes continuarán en pleno vigor y efecto.
            </p>
            <h3>
                Exención
            </h3>
            <p>
                Salvo lo dispuesto en el presente, el hecho de no ejercer un derecho o exigir el cumplimiento de una
                obligación en virtud de estos Términos no afectará la capacidad de una parte para ejercer dicho
                derecho o exigir dicho cumplimiento en cualquier momento posterior ni la renuncia a un
                incumplimiento constituirá una renuncia a cualquier incumplimiento posterior.
            </p>
            <h2>
                Traducción Interpretación
            </h2>
            <p>
                Es posible que estos Términos y condiciones se hayan traducido si los hemos puesto a su disposición
                en nuestro Servicio. Usted acepta que el texto original en inglés prevalecerá en caso de disputa.
            </p>
            <h2>
                Cambios a estos términos y condiciones
            </h2>
            <p>
                Nos reservamos el derecho, a nuestra entera discreción, de modificar o reemplazar estos Términos en
                cualquier momento. Si una revisión es importante, haremos esfuerzos razonables para avisar con al
                menos 30 días de antelación antes de que los nuevos términos entren en vigor. Lo que constituye un
                cambio material se determinará a Nuestro exclusivo criterio.
            </p>
            <p>
                Al continuar accediendo o utilizando Nuestro Servicio después de que esas revisiones entren en
                vigencia, usted acepta estar sujeto a los términos revisados. Si no acepta los nuevos términos,
                total o parcialmente, deje de utilizar el sitio web y el Servicio.
            </p>
            <h2>
                Contáctenos
            </h2>
            <p>
                Si tiene alguna pregunta sobre estos Términos y condiciones, puede contactarnos:
            </p>
            <ul>
                <li>
                    Por correo electrónico: garowo4185@mugadget.com
                </li>
                <li>
                    Visitando esta página en nuestro sitio web: https://camposdeportivosIMEI.com
                </li>
                <li>
                    Por número de teléfono: 969794477
                </li>
            </ul>
        </div>
    </div>
</body>

</html>