* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url('../imagenes/Cielo Azul.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.form-login {
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 180px;
    border-radius: 10px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

    .form-login h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.2ch;
    }

.inputForm .boton {
    background: #1f53c5;
    color: white !important;
    font-size: 16px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    border: 2px solid;
    border-color: #1f53c5;
    display: block;
    margin: 15px;
    margin-right: auto;
    margin-left: auto;
}

    .inputForm .boton:hover {
        color: white !important;
        box-shadow: 0 4px 16px #1f53c5;
        transition: all 0.2s ease;
    }


.inputForm p {
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}

.inputForm a {
    color: white;
    text-decoration: none;
}

    .inputForm a:hover {
        color: rgb(59, 189, 228);
        text-decoration: underline;
    }

.form-group {
    margin-bottom: 2rem;
    position: relative;
}

.inputForm input {
    width: 100%;
    height: 50px;
    background-color: #24303c;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid rgba(250, 250, 250, 0.160);
    padding-left: 12px;
    color: white;
    outline: 0px;
}

.inputForm .etiqueta {
    font-family: 'calibri', sans-serif;
    position: absolute;
    left: 12px;
    top: 14px;
    pointer-events: none;
    transition: 0.5s;
    opacity: .5;
}

.inputForm input:focus + .etiqueta,
.inputForm input:not(:placeholder-shown) + .etiqueta {
    transform: translateY(-13px);
    font-size: 13px;
    opacity: .8;
}

.inputForm input:focus,
.inputForm input:not(:placeholder-shown) {
    border: 1px solid #1f53c5
}

.form-group .icon {
    position: absolute;
    left: 285px;
    top: 2px;
    width: 24px;
    height: 24px;
}

::placeholder {
    color: transparent;
}
