@model IEnumerable<WebCamposDeportivos_V1._2.Models.Pagos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Medios de pago</h1>

@if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Crear nuevo</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    @if (User.IsInRole("Supervisor") || User.IsInRole("Administrador"))
                    {
                    <a asp-action="Edit" asp-route-id="@item.id_pagos">Editar |</a>
                    <a asp-action="Delete" asp-route-id="@item.id_pagos">Eliminar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
