@model Usuarios
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Reg.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <title>Regístrate y obtén tu cuenta en nuestra web</title>
</head>

<body>
    <!--Contenido del registro-->

    <section class="form-registro">
        <h2>Registro</h2>
        <input class="control" type="text" name="nombre" id="nombre" placeholder="Usuario">
        <input class="control" type="password" name="nombre" id="nombre" placeholder="Contraseña">
        <input class="control" type="text" name="nombre" id="nombre" placeholder="Nombres">
        <input class="control" type="text" name="nombre" id="nombre" placeholder="Apellidos">
        <input class="control" type="text" name="nombre" id="nombre" placeholder="DNI">
        <input class="control" type="text" name="nombre" id="nombre" placeholder="Celular">
        <input class="boton" type="submit" value="Registrar">
        <p><a href="@Url.Action("login","Acceso")">Ya tengo una cuenta</a></p>
    </section>
</body>

</html>