@model WebCamposDeportivos_V1._2.Models.Reservas

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear reserva</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select hidden asp-for="ClienteID" class ="form-control" asp-items="ViewBag.ClienteID" readonly></select>
            </div>
            <div class="form-group">
                <label asp-for="CanchaID" class="control-label"></label>
                <select asp-for="CanchaID" class ="form-control" asp-items="ViewBag.CanchaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PagoID" class="control-label"></label>
                <select asp-for="PagoID" class ="form-control" asp-items="ViewBag.PagoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="fechaReserva" class="control-label"></label>
                <input asp-for="fechaReserva" type="date" class="form-control" />
                <span asp-validation-for="fechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horaReserva" class="control-label"></label>
                <input asp-for="horaReserva" type="time" class="form-control" />
                <span asp-validation-for="horaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total" class="control-label"></label>
                <input asp-for="total" value="7" type="number" class="form-control" readonly />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
